# Node dependencies
node_modules/

# Test coverage & reports
coverage/
test-results/
playwright-report/
reports/sample-*.json
reports/sample-*.csv

# Logs & Environment
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store
